.flex-container {
    display: flex;
    flex-direction: column;
}
.header {
    background-color: white;
    width: 100%;
    height: 80px;
    text-align: center;
}
.content {
    display: flex;
    width: 100%;
    height: 600px;
    background-color: orangered;
}
.footer {
    background-color: gainsboro;
    width: 100%;
    line-height: 850px;
    text-align: center;
}
#div {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.img {
    width: 145px;
    height: auto;
}
.div1 {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}
.bkgrimg {
    display: flex;
    height: 600px;
    width: 65%;
    background-image: url("80fc17cd2ccf2689fbc8dc287f15d650.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    background-color: aliceblue;
    border: 0ch;
    border-radius: 8px;
    padding: 20px;
}
.divform {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.content_divform_formitem{
    width: 100%;
    margin: 10px 0;

}
.content_divform_formitem input{
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    overflow: hidden; 
}
.content_divform_formitem input:focus{
    outline: none;
}
.content_divform_formitem .btn-submit{

background-color: tomato;
color: #fff;
}
